<% layout('/layouts/boilerplate') %> 
<div class="jumbotron jumbotron-fluid headerBanner">
	<div class="container">
	  <h1 class="display-4"><img src="/images/logo.png" alt=""></h1>
	  <p class="lead">Find your loved ones...We are here to help</p>
	</div>
	
  </div>
  