<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Missing Person Details</title>
</head>
<body>
    <h1><%=missDetails.name%></h1>
    <a href="/miss/<%=missDetails._id%>/edit">Edit Details</a>
</body>
</html>